body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container{
    padding-block: 20px;
    padding-inline: 40px;
}
.img{
    width: 30%;
    margin-block: 20px;
    margin-inline: 40px;
}
.name{   
    width: 98%;
    height: 100px;
}
.boton{
    width: 20%;
}
.nombre{
    align-content: center;
}

.confirm,p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerButton{
    margin-block: 20px;
    display: flex;
   justify-content: center;
}

